{% extends "base.html" %}
{% block content %}
    <h1>Productos</h1>
    <div class="products">
        {% if products %}
        {% for product in products %}
        <div class="product">
            <img src="{{ url_for('static', filename=product.image_file) }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
                <button type="submit">Agregar al carrito</button>
            </form>
        </div>
    {% endfor %}
        {% else %}
            <p>No hay productos disponibles.</p>
        {% endif %}
    </div>
{% endblock %}